<!DOCTYPE html>
{% extends 'ProjetoPesquisa/home.html' %}

{% block content %}
<p>
   <a class="btn btn-default" href="{% url 'ProdutosNew' %}"><span class="glyphicon glyphicon glyphicon-plus"></span> Novo</a>
</p>
<table class="table table-striped table-bordered">
  <caption>Produtos</caption>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Categoria</th>
      <th>Situacao</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    {% for produto in produtos %}
	    <tr>
	      <td>{{ produto.nome }}</td>
	      <td>{{ produto.categoria }}</td>
	      {% if produto.situacao %}
              <td>Ativo</td>
          {% else %}  
              <td>Inativo</td>
          {% endif %}    
	      <td>
		      <a class="btn btn-warning" href="{% url 'ProdutosEdit' pk=produto.pk %}"><span class="glyphicon glyphicon-pencil"></span> Editar</a>
              <a class="btn btn-danger" href="{% url 'AskMessage' message='Deseja realmente deletar este produto?' prev_link='Produtos' action_link='ProdutosDelete' pk=produto.pk %}"><span class="glyphicon glyphicon glyphicon-remove"></span> Remover</a>
          </td>
	    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock content %}